<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="UniversitySchedular_DBEntities" connectionString="metadata=res://*/SchedularModel.csdl|res://*/SchedularModel.ssdl|res://*/SchedularModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=UniversitySchedular_DB;user id=sa;password=Parsa-1382;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="APIKey" value="AIzaSyCBq4CzZxrVeQQ9eEZcjfkTyHHjRc_9QUs" />
	</appSettings>
</configuration>
